

html,body{
	margin: 0;
	padding: 0;
	width: 100%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*--------- Navigation Start -----------*/
.navbar{
	background-color: #0C0C0C!important;

}

.navbar .navbar-brand{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.navbar .navbar-brand .lastName{
	color: #83C2FE;
}

.navbar .navbar-nav .nav-item .nav-link{
	color: white;
	padding: 12px 14px;
	font-size: 16px;
}

#contactBtn{
	border: 1px solid #83C2FE;
	padding: 6px 14px;
	
}
#contactBtn:hover{
	color: white;
}


.navbar .navbar-nav .nav-item .nav-link:hover{
	color: #83C2FE;
	transition: .6s;
}
/*......Navigation End.......*/

/*......Banner Area Start.......*/
.banner-area{
	width: 100%;
	height: 70vh;
	background-image: url("../../assets/images/build.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}
.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #0C0C0C;
	opacity: .8;
}
.banner-area .banner-content{
	text-align: center;
}


.banner-area .banner-content h1 .last-name{
	color:#83C2FE; 
}
/*..banner area end*/

/*..about area start*/
.about-area{
padding-top: 50px;
padding-bottom: 50px;
background-color: #0C0C0C;
}
.about-area .profile-photo{
	border: 1px solid #0C0C0C;
	width: 250px;
	height: 250px;
	background-image: url("../../assets/images/profile1.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.about-area .name{
	margin: 0;
	color:#83C2FE;
	font-weight:bold;

}
.about-area .designation{
	margin: 0;
	color:#0C0C0C;
	padding-bottom: 10px;
	
	
}
.about-area .about-me p{
	text-align: justify;
}
.about-area .social-link{
	padding-bottom: 10px;
	border-bottom: 1px solid #83C2FE;
}
.about-area .social-link a{
	text-decoration: none;
	display: inline-block;
	margin-right:5px;
}
.bi-facebook{
	color:#316FF6;
}
.bi-whatsapp{
	color: #075e54;
}
.bi-instagram{
	color: #f09433;
}
.bi-linkedin{
	color: #0A66C2;
}
/*Service area start*/
.service-area{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #0C0C0C;
}
.service-area .heading{
	margin-bottom: 15px;
	border-bottom: 1px solid #83C2FE;

}
.service-area .card{
	margin-top: 15px;
	border: 2px solid white;
	height: 400px;
	
}
.service-area .card .card-body .icon span i{
font-size: 50px;
color: #83C2FE;
}
.service-area .card:hover{
	border-color: #83C2FE;
	border-width: 3px;
	transition: .6s;
}
.service-area .card:hover .icon span i{
	color: #0C0C0C;
	transition: .6s;
}



/*Service area end*/

/*skill area start*/
.skill-area{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #0C0C0C;
}
.skill-area .heading{
	margin-bottom: 15px;
	border-bottom: 1px solid #83C2FE;

}
/*contact area start*/
.contact-area{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #0C0C0C;
}
.contact-area .heading{
	margin-bottom: 15px;
	border-bottom: 1px solid #83C2FE;
}
.contact-area form label{
	color: white
}
.contact-area form input{
	border-radius: 0;
}
.contact-area form textarea{
	border-radius: 0;
}
/*footer area start*/
footer{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #0C0C0C;
	border-top: 1px solid #83C2FE;
}
footer .f-heading h5{
	color: white;
}
footer ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
footer ul li{
	color:#B6B6B6!important;
	line-height: 32px;

     	
}
footer ul li a{
	text-decoration: none;
	color:#B6B6B6;
}
footer p{
	color: #B6B6B6;
}
footer form input,button{
border-radius: 0!important;
}
